data/*
pres/*
refs/.cache/*
*.aux
*.bbl
*.blg
*.gz
*.log
.rsync*
*v2meanr*
*v3meanr*
*v4meanr*
*v5__meanr*
*v6_meanr*
*v9_meanr*
*v10_meanr*
*v2nconc*
*v3nconc*
*v4nconc*
*v5__nconc*
*v6_nconc*
*v9_nconc*
*v10_nconc*
*v2cloud*
*v3cloud*
*v4cloud*
*v2comparelwc*
*v3comparelwc*
*v4comparelwc*
figures/halo/cloudevents_*
figures/halo/comparelwc_*
figures/halo/comparelwcbycloud*
figures/halo/meanr_scatter_*
figures/halo/nconc_scatter_*
*v1_subregion*
*v2_subregion*
*v3_subregion*
*v4_subregion*
*v1_qss_expand*
*v2_qss_expand*
*v1_check_nconc*
*v2_check_nconc*
*v3_check_nconc*
*v1_qss_vs*
*v2_qss_vs*
*v3_qss_vs*
*v4_qss_vs*
*v5_qss_vs*
*v6_qss_vs*
*tas_indiv*
*investigate*
*lagra*
*find_*lier*
*terminaloutput*
src/mywrf/slurm*
figures/mywrf/*cloudmap*
*.pyc
*sharc*
timeline.xlsx
